body {
    background-image: url(./images/pinkdust.png);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr, 2fr, 1fr, 1fr;
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
}

header {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
    font-size: 6em;
    color:#ff7039;
    text-shadow: 2px 2px black;
}

#player0 {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

#player1 {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
}

#controls {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: white;
}

.player {
    background-color: white;
    text-align: center;
    border: 2px solid black;
}

.player h2 {
    color:#ff7039;
    text-shadow: 1px 1px black;
    font-size: 3em;
}

#rollCont {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

#dice0 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

#dice1 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

#dice2 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

#dice3 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
}

#dice4 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
}

#dice5 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 4;
}

#submitCont {
    grid-column-start: 8;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 4;
}

.die {
    width: 160px;
    height: 160px;
}